*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: grid;
  justify-content:center;
  align-content:center;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  border: none;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

/*////////////////MAIN////////////////*/
.content {
  display: flex;
  justify-content:center;
  align-items:end;
  gap: 30px;
  width: 1140px;
}

/*////////1 Блок Видео с поисковиком////////*/
.result {
  display: grid;
  justify-content:center;
  align-content:center;
  gap: 16px;
  width: 711px;
  margin-top: 78px;
}

/*////1.1 Окно Видео////*/
.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
}

.result__video {
  min-width: 100%; 
  max-height: 100%; 
  object-fit: cover;
  object-position: top;
}

/*////1.2 Блок Поиск////*/
/*весь блок Поиск*/
.search-form {
  display: inline-flex;
  justify-content: space-between;
  align-items:end;
  width: 711px;
}

/*Элемент блока Поиск*/
.search-form__fieldset {
  max-width: 225px; 
  height: 100%;
}

/*Город, Время суток*/
.search-form__fieldset-title {
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  text-transform: none;
}

.search-form__label { 
  width: fit-content; 
  cursor: pointer;
}

/*Утро, День, Ночь*/
.search-form__label-text {
  display: inline-block;
  vertical-align: top;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  text-transform: none;
  appearance: none;
}

/*Поле Input_"Санкт Петербург, например"*/
.search-form__textfield {
  min-width: 225px;
  margin-top: 6px;
  border: 1px solid #fff;
  border-right: none;
  border-left: none;
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  appearance: none;
  color: #fff;
}

/*Прорисовка рамки вокруг инпута и удаление верхней*/
/* и нижней линии при нажатии и удержании кнопки мыши*/
.search-form__textfield:active {
  display: block;
  border-top: 1px solid #1b1919;
  border-bottom: 1px solid #1b1919;
  outline: 1px solid #fff;
}

/*Прорисовка рамки вокруг инпута только при табуляции*/
.search-form__textfield:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

/*//1.2.1 checkbox//*/
/*поле чекбоксов*/
.search-form__checkbox-list {
  display: flex;
  gap: 15px;
  height: 19px;
  margin-top: 6px;
}

/*Прорисовка рамки чекбокса*/
.search-form__pseudo-checkbox {
  display: inline-flex;
  justify-content:center;
  align-items:center;
  border: 1px solid #fff;
  inline-size: 19px;
  block-size: 19px;

}
/*отметка выбранных кнопок*/
.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: '';
  background-color: #fff;
  min-inline-size: 15px;
  min-block-size: 15px;
} 

/*Закрашивание белым цветом чекбокса при нажатии и удержании кнопки мыши на чекбокс*/
.search-form__label:active:not(:disabled) .search-form__pseudo-checkbox {
  background-color: #fff;
}

/* Подчеркивание текста при наведении курсора на checkbox*/
.search-form__label:hover:not(:disabled):not(:active) .search-form__label-text {
  text-decoration: underline solid #fff;
  text-decoration-thickness: 1px;
  text-underline-position: under;
}

/*Прорисовка рамки вокруг label только при табуляции*/
.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

/*//1.2.2 Кнопка "Найти"//*/
.button {
  border: 1px solid #FFF;
  color: #fff;
  cursor: pointer;
}

.search-form__submit-button {
  width: 194px;
  height: 34px;
  margin-top: 20px;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  text-transform: none;
  background-color: transparent;
}

/*//////////////////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
/*////////2 Блок Титул и Карточки////////*/
.content__details {
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items:flex-start;
  width: 399px;
}

/*////2.1 Блок Титул ////*/
/*смотри в окно*/
.title {
  width: 260px;
  margin: 0 136px 23px 0;
  color: #FFF;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 75px;
  font-style: normal;
  line-height: 94%;
  text-transform: uppercase;
}

  /*По-*/
.content__accent {
  color: #545050;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 94%;
  text-transform: uppercase;
}

/*////2.2 Блок Карточки ////*/
/* всё окно отображение карточек*/
.content__list {
  position: relative;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 418px;
  height: 298px;
  overflow: auto;
}

/*Проявление scrollbar по оси Y при наведении курсора*/
.content__card-link,
.preloader,
.button,
.more-button-template,
.content__list:hover {
  visibility: visible;
}

.content__list-item {
  width: 398px;
  margin-bottom: 30px;
  cursor: pointer;
}

/*Убираем подчеркивание текста ссылки*/
.content__card-link {
  display: block;
  text-decoration: none;
}

/*Карточка текущего видео имеет серый фон*/
.content__card-link_current {
  background-color: #545050;
  outline: none;
}

/*Блок: Заголовок и Абзац, Видео*/
.content__video-card {
  display: flex;
  align-items: flex-start;
  width: 398px;
}

/*Блок Заголовок и Абзац*/
.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  gap: 6px 0;
  width: 200px;
  margin-left: 2px;
}

.content__video-card-title {
  width: 200px;
  margin-top: 2px;
  color: #FFF;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 30px;
  font-style: normal;
  line-height: 100%;
  text-transform: uppercase;
  text-overflow: ellipsis;
}

/*Абзац*/
.content__video-card-description {
  width: 200px;
  margin-bottom: 4px;
  color: #FFF;
  font-family: 'Fira Sans Condensed',  sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 16px;
}

/*Окно Видео*/
.content__video-card-thumbnail {
  min-width: 194px;
  max-height: 103px;
  margin: 2px 2px 2px 0;
  object-fit: cover;
  object-position: top;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: -1px;
}

/* Подчеркивание текста при наведении курсора*/
.content__card-link:hover .content__video-card-title {
  text-decoration: underline solid #fff;
  text-decoration-thickness: 2px;
  text-underline-position: under;
}

.content__card-link:hover .content__video-card-description {
  text-decoration: underline solid #fff;
  text-decoration-thickness: 1px;
  text-underline-position: under;
}

/* Убираем подчеркивание текста при нажатии на карточку*/
/* Меняем фон карточки при нажатии на карточку*/
.content__card-link:active .content__video-card-title,
.content__card-link:active .content__video-card-description,
.content__card-link:active {
  text-decoration: none;
  background-color: #545050;
}

/*Кнопка "Показать ещё"*/
.more-button {
  position: relative;
  justify-content: center;
  width: 399px;
  height: 34px;
  font-family: 'Fira Sans Condensed',  sans-serif;
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  text-align: center;
  background-color: transparent;
}

/* Подчеркивание текста при наведении курсора*/
.button:hover {
  text-decoration: underline solid #fff;
  text-underline-position: under;
}

/* меняем фон кнопки и убираем подчеркивание текста при нажатии кнопки*/
.button:active {
  text-decoration: none;
  background-color: #545050;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: -3px;
}